<div class="row animated fadeIn">
    <div class="col-md-12">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Clientes: {{cliente.nombreComercial}} </h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" (ngSubmit)="guardarClientes(f)">
                        <br>
                        <div class="form-group ">
                            <label>Nombre</label>
                            <input [(ngModel)]="cliente.nombreComercial" name="nombreComercial" type="text" class="form-control" placeholder="Nombre del cliente " required>
                        </div>

                        <div class="form-group ">
                            <label>Cedula o RNC</label>
                            <!--  -->
                            <input #cedula="ngModel" name="cedula" pattern="[0-9]{11}" [(ngModel)]="cliente.cedula" type="text" placeholder="Cedula del cliente " class="form-control" min=1 required>
                            <div class="text-danger" *ngIf="cedula.errors?.pattern">
                                La cedula debe ser igual a 11 digitos y este campo solo acepta numeros
                            </div>
                        </div>

                        <div class="form-group ">
                            <label>Cuenta</label>
                            <input [(ngModel)]="cliente.cuenta" pattern="[0-9]{10}" name="cuenta" placeholder="Numero de cuenta del cliente" type="text" class="form-control" required>
                        </div>
                        <div>
                            <label>Estado</label>
                            <select [(ngModel)]="cliente.estado" name="estado" class="form-control" required>
                        <!-- <select [(ngModel)]="pago.estado" name="estado" class="form-control" required> -->
                                    <option value="">Seleccione Una Opción</option>
                                   <option value ="Activo">Activo</option>
                             <option value ="Inactivo">Inactivo</option>
                                </select>
                        </div>
                        <br><br>
                        <button type="submit" [disabled]="f.invalid" class="btn btn-success waves-effect waves-light m-r-10">
                          <i class="fa fa-save "></i>
                          Guardar
                        </button>
                        <a [routerLink]="['/clientes']" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>